:root{
    --cor-de-fundo: #1e1e1e;
    --verde:#6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3a375e;
    --botao-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}

.butano1{
    background-color: green;
 
    }

.butano2{
    background-color: blue;
 
}
.butano3{
    background-color: purple;

}
.butano4{
    background-color: hotpink;

}

.corintios {
    width: 200px;
}

*{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}


