.butano1{
    background-color: green;
    color: white;
    }

.butano2{
    background-color: blue;
    color: white;
}
.butano3{
    background-color: purple;
    color: white;
}
.butano4{
    background-color: hotpink;
    color: white;
}
